<launch>
    <node pkg="capra_lidar" name="fake_imu" type="fake_imu.py" output="screen"/>

    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
        <param name="fixed_frame" value="/odom_laser" />
        <param name="max_iterations" value="10"/>
    </node>
</launch>